fastapi==0.115.0
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
langgraph==0.2.50
groq==0.12.0
yfinance==0.2.50
pandas==2.2.3
pandas-ta==0.3.14b0
numpy==1.26.4
stock-nse-india==1.2.0
requests==2.32.3
websockets==13.1
firebase-admin==6.6.0
psycopg2-binary==2.9.10
